:root {
  --primary: #209cee;
  --primary-hover: #67bcf3;
  --primary-dark: #0e72b4;
  --primary-lightest: #aedbf9;
  --dark: #333;
  --white: #fff;
}

.sidebar {
  width: 6%;
  padding: 0rem 1rem 0rem 0rem;
}
main {
  width: 94%;
  min-height: 90vh;
}

@media (max-width: 768px) {
  .sidebar {
    width: 0;
    display: none;
  }
  main {
    width: 100%;
  }
}

.sidebar-container {
  padding-top: 6rem;
}
.sidebar-content {
  display: flex;
  flex-direction: column;
  padding: 0rem 0.5rem;
  border-width: 2px;
  border-left-width: 1px;
  border-style: solid;
  border-color: var(--dark);
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
}

.logo-link {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.navbar-brand {
  font-weight: 600;
}

.display-5 {
  font-size: 2.5rem;
}

.display-6 {
  font-size: 1.5rem;
}

.display-7 {
  font-size: 1.3rem;
}

.display-8 {
  font-size: 1.2rem;
}

.tech-stack {
  position: relative;
  text-align: center;
}

.tech-stack .stack-text {
  position: relative;
  display: inline-block;
  padding: 0.2em 1em;
  max-width: 80%;
}

.tech-stack .stack-text:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.4em;
  right: 0;
  border-width: 2px;
  border-right: 0px;
  border-style: solid;
  border-color: var(--dark);
  border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
}

.tech-stack .stack-text:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0.4em;
  right: 0;
  border-width: 2px;
  border-left: 0px;
  border-style: solid;
  border-color: var(--dark);
  border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
}

.project-card {
  width: 45%;
}

@media (max-width: 768px) {
  .project-card {
    width: 90%;
  }
}

.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}

.technical-skills-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.technical-skill-item {
  width: 48%;
  margin: 2%;
}

.technical-skill-item:nth-of-type(2n) {
  margin-right: 0;
}

.technical-skill-item:nth-of-type(2n + 1) {
  margin-left: 0;
}

.soft-skills-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.soft-skill-item {
  width: 48%;
  margin: 1%;
}

.soft-skill-item:nth-of-type(2n) {
  margin-right: 0;
}

.soft-skill-item:nth-of-type(2n + 1) {
  margin-left: 0;
}

.page-animation {
  animation: fadeIn 0.5s ease;
  -webkit-animation: fadeIn 0.5s ease;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.card-body > a.card-link {
  text-decoration: none;
}

.navbar-nav a::before,
.card-body > a.card-link::before {
  margin-right: 10px;
  opacity: 0;
  content: "[";
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  animation: fadeIn 0.2s ease;
  -webkit-animation: fadeIn 0.2s ease;
  -moz-animation: fadeIn ease 0.2s;
  -o-animation: fadeIn ease 0.2s;
  -ms-animation: fadeIn ease 0.2s;
}

.navbar-nav a::after,
.card-body > a.card-link::after {
  margin-left: 10px;
  content: "]";
  opacity: 0;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.navbar-nav a:hover,
.navbar-nav a:hover::before,
.navbar-nav a:hover::after,
.navbar-nav a:focus::before,
.navbar-nav a:focus::after,
.card-body > a.card-link:hover::before,
.card-body > a.card-link:hover::after,
.card-body > a.card-link:focus::before,
.card-body > a.card-link:focus::after {
  color: var(--primary);
  background-color: transparent !important;
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
